# ***Making a prediction

In this Jupyter we make a prediction from the test dataset, using the model we have prepared in the previous notebook.

In [2]:
import pandas as pd
import pickle

In [38]:
modelname="my_model_01"
filename="submission_01.csv"

## Importing the data and the model:

In [20]:
test = pd.read_csv("DATA/test.csv")
test.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   1.00       Fair     J     SI2   56.3   64.0  6.58  6.54  3.69
1   1   0.83    Premium     G     SI1   62.3   58.0  6.01  5.97  3.73
2   2   1.00       Fair     E     SI2   67.0   53.0  6.19  6.13  4.13
3   3   1.00       Fair     H     SI2   66.5   62.0  6.19  6.10  4.09
4   4   1.20  Very Good     I     SI1   62.6   57.0  6.74  6.77  4.23

In [23]:
submission = pd.DataFrame(test.id)

Before making the prediction we have to format the Test DF the same way we did with the Train one:

In [26]:
test.drop(columns=["id"], inplace=True)

In [27]:
test.drop(columns=["x","y","z"], inplace=True)

In [28]:
cutval = {"Fair":1, "Good":2, "Very Good":3, "Premium":4, "Ideal":5}

In [29]:
test.cut = test.cut.apply(lambda x: cutval[x])

In [30]:
clarval = {"FL":12, "IF":11, "VVS1":10, "VVS2":9, "VS1":8, "VS2":7, "SI1":6, "SI2":5, "SI3":4, "I1":3, "I2":2, "I3":1}

In [31]:
test.clarity = test.clarity.apply(lambda x: clarval[x])

In [32]:
colval = {"D":7, "E":6, "F":5, "G":4, "H":3, "I":2, "J":1}

In [33]:
test.color = test.color.apply(lambda x: colval[x])

In [34]:
test.head()

   carat  cut  color  clarity  depth  table
0   1.00    1      1        5   56.3   64.0
1   0.83    4      4        6   62.3   58.0
2   1.00    1      6        5   67.0   53.0
3   1.00    1      3        5   66.5   62.0
4   1.20    3      2        6   62.6   57.0

now we can make a prediction for the Test dataset:

In [39]:
mymodel = pickle.load(open(f"Models/{modelname}", 'rb'))

In [40]:
submission["price"] = mymodel.predict(test)

In [41]:
submission.head()

   id        price
0   0  3299.313919
1   1  3017.700821
2   2  3343.602218
3   3  3213.495255
4   4  5314.303905

In [44]:
submission.to_csv(f"Submissions/{filename}", index=False)