# ***Making a prediction***

In this Jupyter we make a prediction from the test dataset, using the model we have prepared in the previous notebook.

In [48]:
import pandas as pd
import pickle

In [98]:
modelname="my_model_03"
filename="submission_03.csv"

## Importing the data and the model:

In [87]:
test = pd.read_csv("DATA/test.csv")
test.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   1.00       Fair     J     SI2   56.3   64.0  6.58  6.54  3.69
1   1   0.83    Premium     G     SI1   62.3   58.0  6.01  5.97  3.73
2   2   1.00       Fair     E     SI2   67.0   53.0  6.19  6.13  4.13
3   3   1.00       Fair     H     SI2   66.5   62.0  6.19  6.10  4.09
4   4   1.20  Very Good     I     SI1   62.6   57.0  6.74  6.77  4.23

In [88]:
submission = pd.DataFrame(test.id)

Before making the prediction we have to format the Test DF the same way we did with the Train one:

In [89]:
test.drop(columns=["id"], inplace=True)

In [90]:
test.drop(columns=["x","y","z"], inplace=True)

In [91]:
cutval = {"Fair":1, "Good":2, "Very Good":3, "Premium":4, "Ideal":5}

In [92]:
test.cut = test.cut.apply(lambda x: cutval[x])

In [93]:
clarval = {"FL":12, "IF":11, "VVS1":10, "VVS2":9, "VS1":8, "VS2":7, "SI1":6, "SI2":5, "SI3":4, "I1":3, "I2":2, "I3":1}

In [94]:
test.clarity = test.clarity.apply(lambda x: clarval[x])

In [95]:
colval = {"D":100, "E":93, "F":85, "G":77, "H":66, "I":53, "J":44}

In [96]:
test.color = test.color.apply(lambda x: colval[x])

In [97]:
test.head()

   carat  cut  color  clarity  depth  table
0   1.00    1     44        5   56.3   64.0
1   0.83    4     77        6   62.3   58.0
2   1.00    1     93        5   67.0   53.0
3   1.00    1     66        5   66.5   62.0
4   1.20    3     53        6   62.6   57.0

now we can make a prediction for the Test dataset:

In [99]:
mymodel = pickle.load(open(f"Models/{modelname}", 'rb'))

In [100]:
submission["price"] = mymodel.predict(test)

In [101]:
submission.head()

   id        price
0   0  3280.932530
1   1  3034.520746
2   2  3350.497942
3   3  3275.866722
4   4  5316.981072

In [102]:
submission.to_csv(f"Submissions/{filename}", index=False)